.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0 40px;
}
.footer__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__title {
    margin: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
}
.footer__text {
    margin-top: 10px;
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: rgb(48, 48, 48);
}
.footer a:hover {
    text-decoration: underline;
}
