.social {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social__icon {
    padding: 13px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.social__icon_margin-right {
    margin-right: 10px;
}
.tw {
    background-image: url(/images/icons/twitter.svg);
}
.fb {
    background-image: url(/images/icons/facebook.svg);
}
.inst {
    background-image: url(/images/icons/instagram.svg);
}