.login {
    display: flex;
    align-items: center;
}

.login__pic {
    width: 30px;
    height: 40px;
    background: url(/images/icons/account.png) center  center / contain no-repeat;
    margin-right: 10px;
}

.login_margin-right {
    margin-right: 50px;
}